body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.App {
  padding: 10px;
  border-radius: 5px;
  background-color: skyblue;
  width: 750px;
  font-size: large;
}

.TextDisplay {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.Result {
  background-color: rgb(109, 176, 243);
  border-radius: 5px;
  color: aliceblue;
  font-size: larger;
  font-weight: 600;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.InputWrap {
  background-color: rgb(109, 176, 243);
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.inputForm {
  padding-inline: 20px;
  border-radius: 5px;
  height: 30px;
}

.retryButton {
  background-color: lightskyblue;
  margin-left: 2px;
  border: none;
  border-radius: 3px;
  font-size: medium;
  height: 30px;
}

.timerDisplay {
  background-color: gainsboro;
  margin-left: 10px;
  font-size: medium;
  align-self: center;
  text-align: center;
  align-content: center;
  padding-inline: 5px;
  border-radius: 5px;
  margin: 5px;
  height: 30px;
}
